<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Custom Guitar</title>

</head>
<body>
    <header>
        <nav class="header">
            <table>
                <tr>
                    <td><a href="main.html"/>main</td>
                    <td>Order</td>
                    <td>Contact</td>
                    <td>My Page</td>
                </tr>
            </table>
        </nav>
    </header>
    <!-- 본문 내용 -->
    <footer>
        <!-- 푸터 내용. -->
    </footer>
</body>
</html>
